@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

* {
	font-family: 'Noto Sans TC', sans-serif;
}
        .orderSearch {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .orderleftDiv {
            width: 50%;
            float: left;
            height: 400px;
            text-align: center;
            background-color: #e2fdf0bb;
            border-collapse: collapse;
            align-items: center;
            justify-content: center;

        }

        .orderrightDiv {
            width: 50%;
            float: left;
            height: 400px;
            text-align: center;
            background-color: #fffaf3;
            border-collapse: collapse;
            align-items: center;
            justify-content: center;
        }

        .middlerDiv {
            height: 340px;
            overflow-y: auto;
        }

        .orderTable {
            width: 98%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            word-wrap: break-word;
            /*自動斷行*/
            table-layout: fixed;
        }

        .ordertableStyle {
            border: 1px solid rgba(173, 173, 173, 0.756);
            text-align: center;
            font-size: 10px;
        }

        .leftText {
            text-align: left;
        }
